@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar{
    width: 100% !important;
    border:none !important;
    font-family:"Inter", sans-serif !important;
}

.react-calendar__navigation__label__labelText{
    font-weight: 600;
}

.react-calendar__tile--active{
    background-color: #C3EBFA !important;
    color: black !important;
}

.rbc-btn-group:first-child{
    display: none !important;
}

.rbc-toolbar-label{
    text-align: right !important;
    padding: 0px 20px !important;
}

.rbc-btn-group:last-child{
    font-size: 13px !important;
}

.rbc-btn-group:last-child button{
    border: none !important;
    background-color: #f1f0ff !important;
    margin-left: 2px !important;
}

.rbc-toolbar button.rbc-active{
    background-color: #dbdafe !important;
    box-shadow: none !important;
}

.rbc-time-view{
    border-color: #eee !important;
}

.rbc-time-header{
    display: none !important;
}

.rbc-time-content{
    border: none !important;
}

.rbc-time-gutter.rbc-time-column{
    font-size: 12px !important;
}

.rbc-timeslot-group{
    background-color: #f7fdff !important;
}

.rbc-event{
    bottom: none !important;
    color: black !important;
    padding: 10px !important;
    margin: 10px !important;

}

.rbc-event:nth-child(1){
    background-color: #e2f8ff !important;
}

.rbc-event:nth-child(2){
    background-color: #4ca9e2 !important;
}

.rbc-event:nth-child(3){
    background-color: #b185e2 !important;
}

.rbc-event:nth-child(4){
    background-color: #8ad0e5 !important;
}

.rbc-event:nth-child(5){
    background-color: #77e9e7 !important;
}

.rbc-event:nth-child(6){
    background-color: #d0e2a6 !important;
}

.rbc-event:nth-child(7){
    background-color: #9ae4ab !important;
}

.rbc-event:nth-child(8){
    background-color: #d7a9ed !important;
}